
# Created by .ignore support plugin (hsz.mobi)
.*
*/.*
classes
build
*/build
output_zip/
*/gen
*/out
*.iml
*/*.iml
.gradle/*
.idea/*
**/build/**
*/gen/*
*.zip
*.jar
!gradle-4.8-bin.zip
!.gitignore
*.iml
dep.txt
classes
gradlew
gradle-wrapper.properties
**/out/**
*.log
**/_state/**
**/indices/**
*.lock
*/target/
.idea/sonarlint/**
